<a href="https://colab.research.google.com/github/jeungsengho/PythonBasic/blob/main/Python_Basic_Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# for문 반복문
# 주로 반복횟수를 명확히 알고 있을 때 사용

# for 변수 in 반복객체:
#   반복실행

for i in [1,2,3]:
  print(i)

1
2
3

In [2]:
for i in 'Hello':
  print(i)

H
e
l
l
o

In [3]:
for item in ['가위','바위','보']:
  print(item)

가위
바위
보

In [4]:
# 리스트 내포 : for문을 이용해서 리스트를 간단히 생성한다.

[n*2      for n in [1,2,3]]

[2, 4, 6]

In [5]:
[n*2          for n in [1,2,3,4,5]      if n%2 == 1]

[2, 6, 10]

In [6]:
four_seasons = ('Spring', 'Summer', 'Autumn', 'Winter')
for season in four_seasons:
  print(season)

Spring
Summer
Autumn
Winter

In [10]:
# range() 범위
# 정수 범위를 만들어 낼 때 유용한 아주 많이 for문과 사용되는 함수

# range(start, stop, step)  # start(0부터), step(1씩 증가) 은 생략 가능, stop(미만)

print(list(range(5))) # start 생략, step 생략 0,1,2,3,4     5 미만
print(list(range(1,11)))  # stepa 생략 1부터 11미만 1,2,3,4,5,6,7,8,9,10
print(tuple(range(5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4)

In [11]:
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(1, 11):
  print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [14]:
dan = int(input('출력할 구구단을 입력하세요 >>>'))
for n in range(1, 10):
  print(f'{dan} * {n} = {dan*n}')

출력할 구구단을 입력하세요 >>>5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [15]:
for item in {'가위', '바위', '보'}:
  print(item)

보
가위
바위

In [20]:
person = {'name' : '에밀리', 'age' : 20}
for item in person:
  print(item, person[item])

name 에밀리
age 20

In [21]:
# 129page
# 1

for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [23]:
# 2

num = int(input('임의의 양수를 입력하세요 >>>'))
sum = 0       # 초기값 설정

for i in range(1, num+1):
  sum = sum + i         # sum += i
  print(sum)

print(f'1부터 {num}사이 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요 >>>5
1
3
6
10
15
1부터 5사이 모든 정수의 합계는 15입니다.

In [30]:
 # 3

no = int(input('몇 개의 과일을 보관할까요? >>>'))
fruits = []

for i in range(1, no+1):
  fruit = input(f'{i}번째 과일을 입력하세요 >>>')
  fruits.append(fruit)

print(f'입력받은 과일들은 {fruits}입니다.')

몇 개의 과일을 보관할까요? >>>5
1번째 과일을 입력하세요 >>>사과
2번째 과일을 입력하세요 >>>바나나
3번째 과일을 입력하세요 >>>체리
4번째 과일을 입력하세요 >>>오렌지
5번째 과일을 입력하세요 >>>망고
입력받은 과일들은 ['사과', '바나나', '체리', '오렌지', '망고']입니다.

In [32]:
# 4

exam = [99,78,100,91,81,85,54,100,71,50]

exam2 = []

for i in exam:
  if i ==100:
    exam2.append(100)
  elif i >= 95:
    exam2.append(100)
  else:
    exam2.append(i+5)

print(exam2)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [42]:
# 5

for i in range(1, 100):
  s = str(i)

  count = 0

  for x in s:
    if (x=='3') or (x=='6') or (x=='9'):
      count += 1
  if count == 0:
    print(i, end=' ')

  else:
    print(count*'짝', end=' ')

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 짝 짝 짝 짝짝 짝 짝 짝짝 짝 짝 짝짝 40 41 42 짝 44 45 짝 47 48 짝 50 51 52 짝 54 55 짝 57 58 짝 짝 짝 짝 짝짝 짝 짝 짝짝 짝 짝 짝짝 70 71 72 짝 74 75 짝 77 78 짝 80 81 82 짝 84 85 짝 87 88 짝 짝 짝 짝 짝짝 짝 짝 짝짝 짝 짝 짝짝

In [33]:
# break

# while 문이나 for문에서 반복을 강제로 종료시킬 때 사용

n = 1
while n <= 10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [35]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [44]:
# 예제1 

while True:
  city = input('대한민국의 수도는 어디인가요? >>>')
  if city == '서울' or city == 'seoul' or city == 'SEOUL':
    print('정답입니다.')
    break
  else:
    print('오답입니다. 다시 시도하세요.')

대한민국의 수도는 어디인가요? >>>서울
정답입니다.

In [ ]:
# 예제2

In [43]:
# continue

# 반복 도중에 continue를 만나면 더 이상 아래로 내려가지 않고
# 다시 반복문으로 진입한다.

total = 0

for a in range(1, 101):
  if a % 3 == 0:  # 3의 배수 찾기
    continue      # 3의 배수를 제외한 합
  total += a
print(total)

3367