<a href="https://colab.research.google.com/github/jeungsengho/PythonBasic/blob/main/Python_Basic_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List Tuple Dict Set

# List   : []  indexing/slicing     mutable(del,ins)   [1]
# Tuple  : ()  indexing/slicing     immutable          (1,) 원소 1개를 저장할 때 반드시 쉼표를 붙인다 
# Dict   : {}  X (순서가 없다)      mutable(del,ins)   {'key':'value'}
# Set    : {}  X (순서가 없다)      mutable(del,ins)   {1, 2, 3}

In [ ]:
# p.049 1번

no = '31025'
a = no[0] # indexing
b = no[1:3] # slicing [이상:미만]
c = no[3:]
print(a,'학년',b,'반',c,'번')
print(f'{a}학년 {b}반 {c}번')

3 학년 10 반 25 번
3학년 10반 25번

In [ ]:
# p.049 2번

no = '서울2가1234'  # 10가1234, 288가1234
no4 = no[-4:]
print(f'{no}의 차량번호 4자리는 {no4}입니다.')

서울2가1234의 차량번호 4자리는 1234입니다.

In [ ]:
# p.049 3번

s = 'maple'
center = s[len(s) // 2]   # // 나머지를 버리고 몫만 취하는 함수
                            # %  몫은 버리고 나머지만 취하는 함수 
print(f'{s}의 가운데 글자는 {center}입니다.')

maple의 가운데 글자는 p입니다.

In [ ]:
# p.049 4번

li = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
li1 = li[2:7]
li2 = li1[1]
print(f'3번째 요소부터 7번째 요소 = {li1}')
print(f'3번째 요소부터 7번째 요소 중 2번째 요소 = {li2}')

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [ ]:
# p.049 5번

dict = {'금요일':'탕수육', '토요일':'유산슬', '일요일':'팔보채'}
print('금요일:',dict['금요일'])
print('토요일:',dict['토요일'])
print('일요일:',dict['일요일'])

금요일: 탕수육
토요일: 유산슬
일요일: 팔보채

In [ ]:
# \n 줄바꿈 line feed
# \t 탭     tab

print('Hello \'World\'')      # ' 앞에 \ 기호를 넣어주면 ' 의 기능이 없어지고 문자(글자화)로 인식된다.
print("Hello 'World'")
print('Hello "World"')

print('*\n**\n***')

print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t02-123-4567')
print('마틴\t010-8765-1234')

Hello 'World'
Hello 'World'
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	02-123-4567
마틴	010-8765-1234

In [ ]:
print('Hello 'World'')

SyntaxError: ignored

In [ ]:
# print() 함수

print('재미있는','파이썬')
print('Python', 'Java', 'C', sep=',')   # sep=',' -> 띄어쓰기를 쉼표로 변환 (구분자)
print('Python', 'Java', 'C', sep='/')
print('Python', 'Java', 'C', sep=':')

재미있는 파이썬
Python,Java,C
Python/Java/C
Python:Java:C

In [ ]:
print('영화 타이타닉')
print('평점', end=' ')  # end=' ' 옆에다 찍어라 (줄바꾸지 말고)
print('5점')

영화 타이타닉
평점 5점

In [ ]:
print('영화 타이타닉')
print('평점', end=':')  # end=':' 옆에다 찍어라 (줄바꾸지 말고)
print('5점')

영화 타이타닉
평점:5점

In [ ]:
# % 연산자  (비추)

print('%d' % 10)      # %d 정수 10진수 자리표시자
print('%o' % 10)      # %o 정수 8진수 자리표시자
print('%x' % 10)      # %x 정수 16진수 자리표시자
print('%f' % 3.14)    # %f 실수 자리표시자
print('%s' % 'a')     # %s 문자열

10
12
a
3.140000
a

In [ ]:
print('%s' % 10)      
print('%s' % 10)      
print('%s' % 10)      
print('%s' % 3.14)    
print('%s' % 'a')     # %s 문자열

10
10
10
3.14
a

In [ ]:
print('%d' % 1)
print('%5d' % 1)       # 5자리를 확보하고 오른쪽부터 출력
print('%5d' % 11)
print('%-5d' % 11)     # 5자리를 확보하고 왼쪽부터 출력

1
    1
   11
11

In [ ]:
print('%5.3f' % 3.14)   # 소수점 5자리를 확보하고 오른쪽부터 3자리까지만 출력해라
print('%5.1f' % 3.14)

3.140
  3.1

In [ ]:
print('%-5.3f' % 3.14)   # 소수점 5자리를 확보하고 왼쪽부터 3자리까지만 출력해라

3.140

In [ ]:
print('%.1f' % 3.14)     # 소수 1자리까지 출력

3.1

In [ ]:
a='학생'

# 기본 출력 방법
print(a,'입니다.',sep='')

# f string 출력 방법
print(f'{a}입니다.')

# % 연산자 출력 방법
print('%s입니다.' %a)

# format() 출력 방법
print('{}입니다.'.format(a))

학생입니다.
학생입니다.
학생입니다.
학생입니다.

In [ ]:
# format() 매서드

print('My name is {}'.format('James'))

My name is James

In [ ]:
print('My name is {0}'.format('James'))

My name is James

In [ ]:
print('My name is {name}'.format(name='James'))

My name is James

In [ ]:
print('My name is {}. I\'m {} years old.'.format('James', 20))

My name is James. I'm 20 years old.

In [ ]:
print('My name is {1}. I\'m {0} years old.'.format('James', 20))    # 넘버링을 할 수 있다.

My name is 20. I'm James years old.

In [ ]:
print('My name is {name}. I\'m {age} years old.'.format(name='James', age=20))

My name is James. I'm 20 years old.

In [ ]:
# f-strings

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [ ]:
age = 25
print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.

In [ ]:
# 표준 입력

a = input()
print(a)

asd
asd

In [1]:
# n = input('정수를 입력하세요 : ')
# print(type(n))

n = int(input('정수를 입력하세요 : '))
print(type(n))

# input을 통해 입력된 모든 데이터는 문자로 받는다.
# 따라서 숫자로 입력을 받기 위해서는 casting 을 하여 숫자로 바꿔준다.

정수를 입력하세요 : 23
<class 'int'>

In [ ]:
# p063 예제

name = input('이름을 입력하세요 >>> ')
age = input('나이를 입력하세요 >>> ')


print('입력된 이름은 {}입니다.'.format(name))
print('입력된 나이는 {}살 입니다.'.format(age))

print(f'입력된 이름은 %s입니다.' % name)
print(f'입력된 나이는 %s살 입니다.' % age)

print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}살 입니다.')

print('입력된 이름은',name,'입니다.')
print(f'입력된 나이는',age,'살 입니다.')

이름을 입력하세요 >>> 정승호
나이를 입력하세요 >>> 30
입력된 이름은 정승호입니다.
입력된 나이는 30살 입니다.
입력된 이름은 정승호입니다.
입력된 나이는 30살 입니다.
입력된 이름은 정승호입니다.
입력된 나이는 30살 입니다.
입력된 이름은 정승호 입니다.
입력된 나이는 30 살 입니다.